<%- include('../partials/head', { title }) %>

  <body>
    <div class="d-flex flex-column min-vh-100">
      <%- include('../partials/navbar', { active: 'review' , user, hideNavbar: false }) %>
        <main class="flex-grow-1">
          <%- include('./review-session') %>
        </main>
        <%- include('../partials/footer') %>
    </div>
    <%- include('../partials/feedback') %>
      <%- include('../partials/scripts') %>